name: release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.1
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.5'

      - run: npm install
      - uses: billxinli/action-semantic-release
        env:
          GEM_HOST_API_KEY: ${{ secrets.GEM_TOKEN }}
